<h2>Questions</h2>

<%= params[:question] %>

<% if params[:question] == "I am going to work" %>
  <%= "Great!" %>
<% elsif params[:question].end_with?("?") %>
  <%= "Silly question, get dressed and go to work!" %>
<% else %>
  <%= "I don't care, get dressed and go to work!" %>
<% end %>


<%= link_to "Questions", ask_path %>
